<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fun games api</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>FUN GAMES API SERVICE</h1>
    <hr />
    <h4>on progres...</h4>
  </body>
</html>
